body{

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    background:#4e73df;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.login-box{

    background:white;

    width:350px;

    padding:30px;

    border-radius:10px;

    text-align:center;

    box-shadow:0px 0px 20px rgba(0,0,0,0.2);

}

h1{

    color:#4e73df;

}

input{

    width:100%;

    padding:12px;

    margin-top:15px;

    box-sizing:border-box;

}

button{

    width:100%;

    padding:12px;

    margin-top:20px;

    background:#4e73df;

    color:white;

    border:none;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#2e59d9;

}