<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-box">

        <h1>Student Task Manager</h1>

        <h2>Welcome {{ username }} 👋</h2>

        <form action="/add-task" method="POST">

            <input
                type="text"
                name="task"
                placeholder="Enter Task Name"
                required>

            <button type="submit">
                Add Task
            </button>

        </form>

        <br>

        <h3>Your Tasks</h3>

        {% if tasks %}

            <ul>

                {% for task in tasks %}

                    <li>
                        {{ task[1] }}

                        <a href="/delete-task/{{ task[0] }}"
                           style="text-decoration: none; margin-left:10px;">
                            ❌
                        </a>

                    </li>

                {% endfor %}

            </ul>

        {% else %}

            <p>No Tasks Yet.</p>

        {% endif %}

        <br><br>

        <a href="/logout">
            <button type="button">
                Logout
            </button>
        </a>

    </div>

</body>
</html>