<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-box">

        <h1>Edit Task</h1>

        <form action="/update-task/{{ task[0] }}" method="POST">

            <input
                type="text"
                name="task"
                value="{{ task[1] }}"
                required>

            <br><br>

            <label>Priority</label>

            <br>

            <select name="priority">

                <option value="High"
                {% if task[2] == "High" %}selected{% endif %}>
                    High 🔴
                </option>

                <option value="Medium"
                {% if task[2] == "Medium" %}selected{% endif %}>
                    Medium 🟡
                </option>

                <option value="Low"
                {% if task[2] == "Low" %}selected{% endif %}>
                    Low 🟢
                </option>

            </select>

            <br><br>

            <label>Due Date</label>

            <br>

            <input
                type="date"
                name="due_date"
                value="{{ task[3] if task[3] else '' }}">

            <br><br>

            <button type="submit">
                Update Task
            </button>

        </form>

        <br>

        <a href="/dashboard">
            ← Back to Dashboard
        </a>

    </div>

</body>
</html>